* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
}

#team-members {
    text-align: center;
    background-color: aquamarine;
    display: flex;
    flex-wrap: wrap;
}

.team-member-card {
    width: calc(100% / 3);
    padding: 5%;
}